link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed')
link(rel='stylesheet', href='./static/resources/css/main.css')
